@model TearmaWeb.Models.Info.Widgets
@using TearmaWeb.Models.Info
@{
    Layout="_HomeLayout";
    ViewBag.swapper="";
}

@section Rightie {
}

<div class="parallel">
    <div class="ga" lang="ga">
        <h1>Ábhar do shuíomhanna eile</h1>
        <p>Má tá suíomh idirlín de do chuid féin agat, tá fáilte romhat na huirlisí seo a leanas a chur air chun nasc a dhéanamh le tearma.ie. I ngach cás, bain úsáid as an gcód HTML atá luaite in aice láimhe chun an uirlis nó grafaic a leabú sa leathanach. </p>
    </div>
    <div class="en" lang="en">
        <h1>Content for other websites</h1>
        <p>If you have a website, you are welcome to use the following widgets to link to tearma.ie. In each case, use the HTML code provided to embed the widget or graphic in your page. </p>
    </div>
    <div class="clear"></div>
</div>

<div class="demobox">
    <iframe style="width: 210px; height: 300px; border: 1px solid rgb(69,89,161);" frameborder="0" scrolling="no" src="~/widgets/box/"></iframe>
    <pre>
        &lt;iframe style="width: 210px; height: 300px; border: 1px solid rgb(69,89,161);" frameborder="0" scrolling="no" src="http://www.tearma.ie/widgets/box/"&gt;&lt;/iframe&gt;
    </pre>
    <div class="clear"></div>
</div>

<div class="demobox">
    <iframe style="width: 210px; height: 300px; border: 1px solid rgb(69,89,161);" frameborder="0" scrolling="no" src="~/widgets/tod/"></iframe>
    <pre>
        &lt;iframe style="width: 210px; height: 300px; border: 1px solid rgb(69,89,161);" frameborder="0" scrolling="no" src="http://www.tearma.ie/widgets/tod/"&gt;&lt;/iframe&gt;
    </pre>
    <div class="clear"></div>
</div>

