@{
    Layout="_HomeLayout";
    ViewBag.swapper="";
}

@section Rightie {

}

@*<div>Hello, this is Views\Home\Entry.cshtml</div>
@foreach(string key in ViewData.Keys){ <div>@key = @ViewData[key] (@ViewData[key].GetType())</div> }*@
