@model TearmaWeb.Models.Widgets.Tod
@using TearmaWeb.Models.Widgets
@{
    Layout="_WidgetLayout";
}

<div class="todmessage">
    <a href="~/id/@Model.todID/" target="_blank" class="date">@DateTime.Now.Date.ToString("dd/MM/yyyy")</a>
</div>

@Html.Raw(Model.tod.Replace("<a", "<a target=\"_blank\""))
