@model TearmaWeb.Models.Widgets.Tod

@{
    Layout="_WidgetLayout";
}

<div class="todmessage">
    <a href="~/id/@Model.TodID/" target="_blank" class="date">@DateTime.Now.Date.ToString("dd/MM/yyyy")</a>
</div>

@Html.Raw(Model.TodText.Replace("<a", "<a target=\"_blank\""))
